<h2 class="SectionHeading">Choose a path:</h2>
<wo:form action="$directoryClicked" id="FileBrowserJumpToForm">
  <p>Jump to: <wo:textfield value="$startingPath" class="JumpToField" id="FileBrowserJumpToTextField"/> <wo:submit action="$jumpToClicked" id="FileBrowserSubmitJumpTo"/></p>
  <p class="Warning"><wo:str value="$errorMsg" /></p>
</wo:form>
<wo:if condition="$hasErrorMsg" negate="$true">
  <p>Current directory: <code><wo:str value="$startingPath" /></code> <wo:link action="$selectCurrentDirClicked" class="Button SelectDirectoryButton" id="FileBrowserSelectCurrentDirectoryLink"><span>Select Current</span></wo:link></p>
  <table class="FileBrowseTable">
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Selection</th>
    </tr>
    <tr>
      <td colspan="3"><wo:link action="$backClicked" id="FileBrowserBackLink">.. Back (Up one directory level)</wo:link></td>
    </tr>
    <wo:loop list="$fileList" item="$aCurrentFile">
      <tr>
        <td class="FileNameWrapper">
            <wo:if condition="$isCurrentFileDirectory">
              <wo:link action="$directoryClicked"><wo:WOImage filename="DirectoryIcon.gif" width="12" height="12" border="0" />&nbsp;<wo:str value="$aCurrentFile.file" /></wo:link>
            </wo:if>
            <wo:if condition="$isCurrentFileDirectory" negate="$true">
              <wo:WOImage filename="TransparentPixel.gif" width="12" height="1" />&nbsp;<wo:str value="$aCurrentFile.file" />
            </wo:if>
        </td>
        <td class="FileSizeWrapper"><wo:str value="$aCurrentFile.fileSize"h /></td>
        <td class="SelectDirectoryWrapper"><wo:link action="$selectClicked" class="Button SelectDirectoryButton">Select</wo:link></td>
      </tr>
    </wo:loop>
  </table>
</wo:if>