<wo:if condition = "$isRefreshEnabled"> <wo:WOMetaRefresh action = "$refreshClicked" seconds = "$theApplication.siteConfig.viewRefreshRate" /></wo:if>
<wo:NavigationPage currentPage = "$APP_PAGE" title = "$myApplication.name" pageId = "Applications" />
<wo:if condition = "$hasHosts" negate = "$YES">
  <div class = "Box ErrorBox">
    <h3>There are no hosts configured.</h3>
    <p>Please 
      <wo:link action = "$hostsPageClicked" id = "AppDetailPageAddHostsLink">add hosts</wo:link>
      before adding instances.</p>
  </div>
</wo:if>
<div class = "Box ApplicationDetailsBox">
  <h2 class = "SectionHeading">
    <wo:if condition = "$myApplication.isRunning_M">
      <wo:link href = "$hrefToApp" target = "new" id = "AppDetailPageAppLink"> <wo:str value = "$myApplication.name" /></wo:link>
    </wo:if>
    <wo:not condition = "$myApplication.isRunning_M"> <wo:str value = "$myApplication.name" /></wo:not>
  </h2>
  <wo:if condition = "$isRefreshEnabled">
    <p>This page automatically updates every 
      <wo:str value = "$theApplication.siteConfig.viewRefreshRate" />
      seconds.</p>
  </wo:if>
  <wo:if condition = "$currentBouncer">
    <div>Bouncer: <wo:str value = "$currentBouncer.status" /></div>
  </wo:if>
  <p>
    <wo:link action = "$refreshClicked" id = "AppDetailPageRefreshLink">Refresh</wo:link>
    | 
    <wo:link action = "$showStatisticsClicked" id = "AppDetailPageShowDetailStatistics">
      <wo:if condition = "$showDetailStatistics">Hide Stats</wo:if>
      <wo:not condition = "$showDetailStatistics">Show Stats</wo:not>
    </wo:link>
  </p>
  <span class = "error"><wo:str value = "$session.message" /> </span>
  <table>
    <tr>
      <th>Select</th>
      <th>Name</th>
      <th>Host: Port</th>
      <th>Status</th>
      <th>Start - Stop</th>
      <th>Auto- Recover</th>
      <th>Refuse New Sessions</th>
      <th>Scheduled</th>
      <th>Next shutdown</th>
      <th>Deaths</th>
      <wo:if condition = "$showDetailStatistics">
        <th>Transactions</th>
        <th>Active Sessions</th>
        <th>Average Transactions</th>
        <th>Average Idle Period</th>
      </wo:if>
      <wo:not condition = "$showDetailStatistics">
        <th>WOStats</th>
      </wo:not>
      <th>Configure</th>
      <th>Delete</th>
    </tr>
    <tr> </tr>
    <wo:loop item = "$currentInstance" list = "$displayGroup.allObjects">
      <tr>
        <!-- Selection -->
        <td class = "InstanceSelect">
          <wo:form action = "$selectOne">
            <wo:AjaxObserveField action = "$selectOne"><wo:checkbox checked = "$isSelectedInstance" /></wo:AjaxObserveField>
          </wo:form>
        </td>
        <!--       Instance Number       -->
        <td>
          <wo:if condition = "$currentInstance.isRunning_M">
            <wo:link href = "$hrefToInst" target = "new"> <wo:str value = "$currentInstance.displayName" /></wo:link>
          </wo:if>
          <wo:not condition = "$currentInstance.isRunning_M"> <wo:str value = "$currentInstance.displayName" /></wo:not>
        </td>
        <!--       Host - Port       -->
        <td class = "InstanceHostPort">
          <wo:if condition = "$currentInstance.isRunning_M">
            <wo:link href = "$hrefToInstDirect" target = "new"> <wo:str value = "$currentInstance.displayHostAndPort" /></wo:link>
          </wo:if>
          <wo:not condition = "$currentInstance.isRunning_M"> <wo:str value = "$currentInstance.displayHostAndPort" /></wo:not>
        </td>
        <!--       Status (On/Off/Starting/Stopping)       -->
        <td class = "InstanceStatusColumn"> <wo:WOImage alt = "$instanceStatusImageText" border = "0" filename = "$instanceStatusImage" height = "35" width = "49" /> </td>
        <!--       Start/Stop Buttons       -->
        <td class = "InstanceStartStop">
          <div class = "Balls">
            <wo:link action = "$startInstance"><wo:WOImage alt = "Start" border = "0" filename = "start.png" height = "19" width = "19" /></wo:link>
            &nbsp; 
            <wo:link action = "$stopInstance"><wo:WOImage alt = "Stop" border = "0" filename = "stop.png" height = "19" width = "19" /></wo:link>
          </div>
        </td>
        <!--       Auto-Recover       -->
        <td class = "InstanceAutoRecover">
          <wo:if condition = "$currentInstance.schedulingEnabled">
            <div class = "AppControl AppControlAutoRecoverSchedulingOn">On</div>
          </wo:if>
          <wo:if condition = "$currentInstance.schedulingEnabled" negate = "$true">
            <wo:link action = "$toggleAutoRecover" class = "AppControlLink">
              <wo:WOGenericContainer elementName = "div" class = "$autoRecoverDivClass"><wo:str value = "$autoRecoverLabel" /></wo:WOGenericContainer>
            </wo:link>
          </wo:if>
        </td>
        <!--       Refuse New Sessions       -->
        <td class = "InstanceRefuseNewSessions">
          <wo:if condition = "$currentInstance.schedulingEnabled">
            <wo:WOGenericContainer elementName = "div" class = "$refuseNewSessionsClass"><wo:str value = "$refuseNewSessionsLabel" escapeHTML = "$false" /></wo:WOGenericContainer>
          </wo:if>
          <wo:if condition = "$currentInstance.schedulingEnabled" negate = "$true">
            <wo:if condition = "$currentInstance.isRunning_M">
              <wo:link action = "$toggleRefuseNewSessions" class = "AppControlLink">
                <wo:WOGenericContainer elementName = "div" class = "$refuseNewSessionsClass"><wo:str value = "$refuseNewSessionsLabel" escapeHTML = "$false" /></wo:WOGenericContainer>
              </wo:link>
            </wo:if>
            <wo:not condition = "$currentInstance.isRunning_M">
              <div class = "AppControl AppControlOff">Off</div>
            </wo:not>
          </wo:if>
        </td>
        <!--       Schedule       -->
        <td class = "InstanceSchedule">
          <wo:link action = "$toggleScheduling" class = "AppControlLink">
            <wo:WOGenericContainer elementName = "div" class = "$schedulingDivClass"><wo:str value = "$schedulingLabel" escapeHTML = "$false" /></wo:WOGenericContainer>
          </wo:link>
        </td>
        <!--       Next Scheduled Shutdown       -->
        <td class = "NextShutDown"> <wo:str value = "$nextShutdown" //dateformat = "%m/%d/%Y %H:%M:%S %Z" /> </td>
        <td class = "DeathCount">
          <wo:if condition = "$shouldDisplayDeathDetailLink">
            <span class = "Deaths"><wo:str numberformat = "0" value = "$currentInstance.deathCount" /></span>
            <wo:link action = "$instanceDeathDetailClicked"> (Details) </wo:link>
          </wo:if>
          <wo:not condition = "$shouldDisplayDeathDetailLink">-</wo:not>
        </td>
        <!--       Statistics       -->
        <wo:if condition = "$showDetailStatistics">
          <td class = "TransactionsCount"> <wo:str value = "$currentInstance.transactions" /> </td>
          <td class = "ActiveSessionCount"> <wo:str value = "$currentInstance.activeSessions" /> </td>
          <td class = "AverageTransactionsCount"> <wo:str value = "$currentInstance.avgTransactionTime" /> </td>
          <td class = "AverageIdlePeriod"> <wo:str value = "$currentInstance.averageIdlePeriod" /> </td>
        </wo:if>
        <wo:not condition = "$showDetailStatistics">
          <td class = "InstanceWOStats">
            <wo:if condition = "$currentInstance.isRunning_M">
              <wo:link href = "$linkToWOStats" target = "_blank" class = "Button WOStatsButton">
                <span>WOStats</span>
              </wo:link>
            </wo:if>
            <wo:not condition = "$currentInstance.isRunning_M">
              <div class = "WOStatsOff">Off</div>
            </wo:not>
          </td>
        </wo:not>
        <!--       Configure       -->
        <td>
          <wo:link action = "$configureInstanceClicked" class = "Button ConfigureButton">Configure</wo:link>
        </td>
        <!--       Delete       -->
        <td>
          <wo:link action = "$deleteInstanceClicked" class = "Button DeleteButton">Delete</wo:link>
        </td>
      </tr>
    </wo:loop>
    <wo:if condition = "$hasInstances">
      <wo:if condition = "$showDetailStatistics">
        <tr class = "SpacerTableRow">
          <td colSpan = "16">&amp;nbsp</td>
        </tr>
      </wo:if>
      <wo:not condition = "$showDetailStatistics">
        <tr class = "SpacerTableRow">
          <td colSpan = "13">&amp;nbsp</td>
        </tr>
      </wo:not>
    </wo:if>
    <tr>
      <td class = "AllSelect">
        <strong>Select</strong>
        <br />
        <wo:link action = "$selectAllAction" id = "AppDetailPageSelectAllLink">All</wo:link>
        | 
        <wo:link action = "$selectNoneAction" id = "AppDetailPageSelectNoneLink">None</wo:link>
      </td>
      <td class = "AllFilter" colSpan = "3">
        <b>Select all instances that are:</b>
        <br />
        <wo:link action = "$selectRunning" id = "AppDetailPageSelectRunning">Running</wo:link>
        | 
        <wo:link action = "$selectNotRunning" id = "AppDetailPageSelectNotRunning">Not Running</wo:link>
      </td>
      <!--       Start / Stop All       -->
      <td class = "AllStartStop">
        <div class = "Balls">
          <wo:link action = "$startAllClicked" id = "AppDetailPageStartAllLink"><wo:WOImage alt = "Start" border = "0" filename = "start.png" height = "19" width = "19" /></wo:link>
          &nbsp; 
          <wo:link action = "$stopAllClicked" id = "AppDetailPageStopAllLink"><wo:WOImage alt = "Stop" border = "0" filename = "stop.png" height = "19" width = "19" /></wo:link>
        </div>
      </td>
      <!--       AutoRecover All      -->
      <td class = "AllAutoRecover">
        <div class = "Balls">
          <wo:link action = "$autoRecoverEnableAllClicked" id = "AppDetailPageAutoRecoverEnableAllLink"><wo:WOImage alt = "Start" border = "0" filename = "start.png" height = "19" width = "19" /></wo:link>
          &nbsp; 
          <wo:link action = "$autoRecoverDisableAllClicked" id = "AppDetailPageAutoRecoverDisableAllLink"><wo:WOImage alt = "Stop" border = "0" filename = "stop.png" height = "19" width = "19" /></wo:link>
        </div>
      </td>
      <!--       Refuse New Sessions All       -->
      <td class = "AllRefuseNewSessions">
        <div class = "Balls">
          <wo:link action = "$refuseNewSessionsAllClicked" id = "AppDetailPageRefuseNewSessionsAllLink"><wo:WOImage alt = "Start" border = "0" filename = "start.png" height = "19" width = "19" /></wo:link>
          &nbsp; 
          <wo:link action = "$acceptNewSessionsAllClicked" id = "AppDetailPageAcceptNewSessionsAllLink"><wo:WOImage alt = "Stop" border = "0" filename = "stop.png" height = "19" width = "19" /></wo:link>
        </div>
      </td>
      <!--       Scheduling All       -->
      <td class = "AllScheduling">
        <div class = "Balls">
          <wo:link action = "$schedulingEnableAllClicked" id = "AppDetailPageSchedulingEnableAllLink"><wo:WOImage alt = "Start" border = "0" filename = "start.png" height = "19" width = "19" /></wo:link>
          &nbsp; 
          <wo:link action = "$schedulingDisableAllClicked" id = "AppDetailPageSchedulingDisableAllLink"><wo:WOImage alt = "Stop" border = "0" filename = "stop.png" height = "19" width = "19" /></wo:link>
        </div>
      </td>
      <!--       Next Scheduled Shutdown       -->
      <td class = "AllBounce">
        <wo:link action = "$bounceClicked" id = "AppDetailPageBounceLink">Bounce</wo:link>&nbsp;<wo:link pageName = "HelpPage" fragmentIdentifier = "18"><wo:WOImage filename = "help.png" style = "vertical-align: middle;" /></wo:link>
      </td>
      <td class = "AllClearDeaths">
        <wo:link action = "$clearAllDeathsClicked" id = "AppDetailPageClearDeathsLink">Clear Deaths</wo:link>
      </td>
      <!--       Statistics All       -->
      <wo:if condition = "$showDetailStatistics">
        <td class = "TotalTransactionCount"> <wo:str numberformat = "0" value = "$totalTransactions" /> </td>
        <td class = "TotalActiveSessions"> <wo:str numberformat = "0" value = "$totalActiveSessions" /> </td>
        <td class = "TotalAverageTransaction"> <wo:str numberformat = "0.000" value = "$totalAverageTransaction" /> </td>
        <td class = "TotalAverageIdleTime"> <wo:str numberformat = "0.000" value = "$totalAverageIdleTime" /> </td>
      </wo:if>
      <wo:not condition = "$showDetailStatistics">
        <td> <wo:str numberformat = "0.00" value = "$actualRatePerMinute" /> TPM </td>
      </wo:not>
      <!--       Configure       -->
      <td>
        <wo:link action = "$configureApplicationClicked" class = "Button ConfigureButton" id = "AppDetailPageConfigureLink">
          <span>Configure</span>
        </wo:link>
      </td>
      <td>
        <wo:link action = "$deleteAllInstancesClicked" class = "Button DeleteButton" id = "AppDetailPageInstDeleteAllLink">
          <span>Delete</span>
        </wo:link>
      </td>
    </tr>
    <wo:if condition = "$showDetailStatistics">
      <tr class = "TotalsForRunningInstances">
        <td colspan = "10" class = "label">Running Sessions</td>
        <td class = "TotalTransactionCount"><wo:str value = "$totalTransactionsForActiveInstances" numberformat = "#,##0" /></td>
        <td class = "TotalActiveSessions"><wo:str value = "$totalActiveSessionsForActiveInstances" numberformat = "#,##0" /></td>
        <td class = "TotalAverageTransaction"></td>
        <td class = "TotalAverageIdleTime"></td>
        <td colspan = "2"></td>
      </tr>
    </wo:if>
  </table>
</div>
<wo:if condition = "$hasHosts">
  <div class = "Box AddInstanceBox">
    <wo:form id = "AppDetailPageAddInstanceForm">
      Add: 
      <wo:textfield value = "$numberToAdd" size = "3" numberformat = "0" id = "AppDetailPageAddNumInstances" />
      instance(s) on host: 
      <wo:select list = "$theApplication.siteConfig.hostArray" item = "$aHost" displayString = "$aHost.name" selection = "$selectedHost" id = "AppDetailPageAddHostPopUp" />
      <wo:submit action = "$addInstanceClicked" value = "Add " id = "AppDetailPageAddInstanceSubmitButton" />
    </wo:form>
  </div>
</wo:if>