<wo:NavigationPage currentPage="$HOST_PAGE" title="$myHost.name" pageId="Hosts">
<div class="Box HostTypeBox">
  <h2>Configuring Host "<wo:str value="$myHost.name" />"</h2>
  <wo:form id="HostConfigurePageHostSettingsForm">
  <p>The Host Type  determines the Path and OutputPath settings for an instance. The defaults are set at the application level. Changing the Type of this host will not automatically cause instances to update their Path and OutputPath settings. The new settings can be pushed from the Applications page.</p>
  <p>Select the new Host Type: <wo:select list="$hostTypeList" selection="$hostTypeSelection" id="HostConfigurePageHostTypePopup"/> <wo:submit action="$configureHostClicked" value="Configure Host" id="HostConfigurePageHostConfigureButton"/></p>
  </wo:form>
</div>
<div class = "Box HostSynchronizeBox">
  <h2>Synchronize Host "<wo:str value="$myHost.name" />"</h2>
   <wo:form id="HostConfigurePageHostSyncForm">
    <p>If this host is behaving strangely, it is possible that the host's configuration information is out of sync with the rest of your site or Monitor. Click the button to try to resync configuration information.</p>
    <p><wo:submit action="$syncHostClicked" value="Synchronize Host" id="HostConfigurePageHostSyncButton"/></p>
  </wo:form>
</div>
</wo:NavigationPage>