<wo:NavigationPage currentPage="$HOST_PAGE" title="Hosts" pageId="Hosts">
<div class="Box HostListBox">
<h2 class="SectionHeading">Hosts</h2>
  <table>
    <tr>
      <th>Host name</th>
      <th>Available*</th>
      <th>Host Type</th>
      <th>Running Instances</th>
      <th>Processor Description</th>
      <th>OS / Platform</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
    <wo:loop list="$theApplication.siteConfig.hostArray" item="$currentHost">
      <tr>
        <td>
               <wo:str value="$currentHost.name" /> /
             <wo:str value="$currentHost.addressAsString" />
        </td>
        <td class="HostAvailability">
          <wo:if condition="$currentHost.isAvailable">
              YES | <wo:link action="$displayWotaskdInfoClicked" target="_blank">View Config</wo:link>
          </wo:if>
          <wo:not condition="$currentHost.isAvailable">
            <span class="HostNotAvailable">NO</span>
          </wo:not>
        </td>
        <td><wo:str value="$currentHost.osType" /></td>
        <td><wo:str value="$currentHost.runningInstances" /></td>
        <td><wo:str value="$currentHost.processorType" /></td>
        <td><wo:str value="$currentHost.operatingSystem" /></td>
        <td>
          <wo:link action="$configureHostClicked" class="Button ConfigureButton"><span>Configure</span></wo:link>
        </td>
        <td>
          <wo:link action="$removeHostClicked" class="Button DeleteButton"><span>Delete</span></wo:link>
        </td>
      </tr>
    </wo:loop>
  </table>
</div>
<div class="Box AddHostBox">
  <wo:form id="HostsPageAddHostForm">
    Add Host: <wo:textfield size="40" value="$newHostName" id="HostsPageHostNameTextField"/> of type: <wo:select list="$hostTypeList" selection="$hostTypeSelection" id="HostsPagePopUpButton1"/> <wo:submit action="$addHostClicked" value="Add Host" id="HostsPageAddHostSubmitButton"/> 
  </wo:form>
  <div class="Notes">
  	<h4>Notes</h4>
    <ul>
    	<li>Hosts may be added as either hostnames or IP addresses**</li>
    	<li>* A host is available if it is running the <b>wotaskd</b> service/daemon.</li>
    	<li>** If "localhost" or "127.0.0.1" is a host, it must be the <b>only</b> host.</li>
    </ul>
  </div>
</div>
</wo:NavigationPage>