<wo:NavigationPage currentPage="$MIGRATION_PAGE" title="Migrations" pageId="Migrations">
<p class="Warning" style="text-align: center;">WARNING - MYSTERY FORM: I don't know what this stuff does. If you do, please add a blurb here describing its function.</p>
<div class="Box MigrationBox">
<h2 class="SectionHeader">WebObjects Applications Deployment Migration</h2>
<p>Preview your http-webobjects.conf file for your Apache 2.x WebServer:</p> 
<pre><code><wo:str value="$adaptorConfigContent" /></code></pre>
</div>
<div class="Box MigrationBox">
<h2 class="SectionHeader">Provide your Apache 2.x WebServer configuration</h2>
<p></p>
<wo:form enctype="multipart/form-data" id="MigrationPageForm2">
	<table class="FormFieldTable">
		<tr><th>Host:</th><td colspan="2"><wo:textfield value="$host" id="MigrationPageTextField3"/></td></tr>
		<tr><th>Username:</th><td colspan="2"><wo:textfield value="$username" id="MigrationPageTextField1"/></td></tr>
		<tr><th>SSH identify file:</th><td><wo:upload data="$sshIdentityContent" filePath="$sshIdentityFilepath" /></td>
			<td><p class="Comment">Please provide a valid SSH identity file for JavaMonitor to scp the http-webobjects.conf into your Apache 2.x WebServer host. <a href="">Get help with generating SSH&nbsp;identity file</a></p></td></tr>
		<tr><th>http-webobjects.conf filepath</th><td><wo:textfield value="$remoteFilepath" id="MigrationPageTextField4"/></td>
			<td><p class="Comment">Please provide a location on the WebServer where JavaMonitor should transfer the http-webobjects.conf file to.</p></td></tr>
		<tr><th>Restart Apache WebServer</th><td colspan="2"><wo:checkbox value="$true" selection="$shouldRestartApache" /></td></tr>
	</table>
	<p><wo:WOResetButton /> | <wo:submit action="$migrate" id="MigrationPageMigrateButton"/></p>
</wo:form>
<br/>
<wo:if condition="$isMigrationCompleted"><b>JavaMonitor has migrated your WebObjects Applications deployment successfully.</b></wo:if>
<wo:if negate="$true" condition="$isMigrationCompleted">
	<wo:if condition="$isFailed">JavaMonitor could not migrate your WebObjects Applications deployment. <wo:text value="$migrationStackTrace" id="MigrationPageText2"/></wo:if>
</wo:if>
</div>
</wo:NavigationPage>