<html>
  <head>
    <title><wo:str value="$pageTitle" /></title>
    <wo:ERXStyleSheet filename="javamonitor.css" framework="app" />
  </head>
  <wo:WOGenericContainer id="$pageId" elementName="body">
  	<div class="Box NavigationBox">
  		<h1>Monitor</h1>
  		<ul class="NavigationTabs">
  			<li class="Applications"><wo:link action="$ApplicationsPageClicked" id="NavigationPageAppLink">Applications</wo:link></li>
            <li class="Hosts"><wo:link action="$HostsPageClicked" id="NavigationPageHostLink">Hosts</wo:link></li>
            <li class="Site"><wo:link action="$ConfigurePageClicked" id="NavigationPageSiteLink">Site</wo:link></li>
            <li class="Preferences"><wo:link action="$PrefsPageClicked" id="NavigationPagePrefLink">Preferences</wo:link></li>
            <li class="Help"><wo:link action="$HelpPageClicked" id="NavigationPageHelpLink">Help</wo:link></li>
            <wo:if condition="$showMigrationsTab"><li class="Migrations"><wo:link action="$MigrationPageClicked" id="NavigationPageMigrationLink">Migrations</wo:link></li></wo:if>
            <wo:if condition="$showModProxyTab"><li class="ModProxy"><wo:link action="$ModProxyPageClicked" id="NavigationPageModProxyLink">Mod_Proxy</wo:link></li></wo:if>
            <wo:if condition="$logoutRequired"><li class="Logout"><wo:link action="$logoutClicked" class="LogoutButton" id="NavigationPageLogoutLink">Log Out</wo:link></li></wo:if>
        </ul>
        
        <div id="NavigationLogo"><wo:WOImage filename="AppleLogo.gif" height=36 width=30 align="right" border=0 /></div>
  	</div>
  	<div id="ContentWrapper">
  		<wo:ERXNonNullConditional condition="$message">
			<p class="Box ErrorBox LoginErrorBox"><wo:str value="$message" escapeHTML="$false" /></p>
		</wo:ERXNonNullConditional>
    	<wo:WOComponentContent />
    </div>
  </wo:WOGenericContainer>
</html>